footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
footer p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}